<tr>
  <th scope="col">
    {% if product.featured_image %}
      <div class="h-100 overflow-hidden">
        <img
          class="img-fluid"
          src="{{ product.featured_image | img_url: 'small' }}"
          alt="{{ product.featured_image.alt }}">
      </div>
    {% else %}
      {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-100' }}
    {% endif %}
  </th>
  <th scope="col">
    <span class="text-sm">{{ product.vendor }}</span>
  </th>
  <th scope="col">
    <a href="{{ product.url }}" class="">{{ product.title }}</a>
  </th>
  <th scope="col">
    <p class="">{{ product.price | money }}</p>
  </th>
</tr>