<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ shop.url }}">{{ shop.name }}</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% for link in section.settings.menu.links %}
            {% if link.links != blank %}
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                  {{ link.title }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for childlink in link.links %}
                    <li>
                      <a class="dropdown-item" href="{{ childlink.url }}">{{ childlink.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <!-- CART BUTTON / ACCOUNT LINKS IF ENABLED -->
        <div class="d-flex text-center">
          <form class="d-flex" action="{{ routes.search_url }}">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search item"
              aria-label="Search"
              name="q"
              value="{{ search.terms | escape }}">
            <button class="btn" type="submit">
              {% render 'icon-search' %}
            </button>
          </form>
          <a
            href="{{ routes.cart_url }}"
            class="btn"
            style="color: gray;">
            {% render 'icon-shopping-bag' %}
          </a>

          {% if shop.customer_accounts_enabled %}
            {% if customer %}
              <a href="{{ routes.account_url }}" class="nav-link">account</a>
              {{ 'Log out' | customer_logout_link | replace: '<a', '<a class="nav-link"' }}
            {% else %}
              {{ 'Log in ' | customer_login_link | replace: '<a', '<a class="nav-link"' }}
              {{ 'Register' | customer_register_link | replace: '<a', '<a class="nav-link"' }}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}